name: Unity Tests

on:
  push:
    branches: [ main ]
    paths:
      - 'Assets/**'
      - 'Packages/**'
      - 'ProjectSettings/**'
      - '.github/workflows/unity-test.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'Assets/**'
      - 'Packages/**'
      - 'ProjectSettings/**'
      - '.github/workflows/unity-test.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  UNITY_VERSION: 2022.3.41f1

jobs:
  test:
    name: Run Unity Unit Tests
    runs-on: ubuntu-latest

    steps:
      #Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      #Cache Unity activation and dependencies
      - name: Cache Unity
        uses: actions/cache@v4
        with:
          path: ~/.local/share/unity3d
          key: unity-${{ runner.os }}-${{ env.UNITY_VERSION }}
          restore-keys: |
            unity-${{ runner.os }}-

      - name: Cache Library folder
        uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ runner.os }}-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-${{ runner.os }}-
            Library-

      #Run Unity tests (EditMode + PlayMode)
      - name: Run Unity Tests
        uses: game-ci/unity-test-runner@v4
        with:
          projectPath: .
          unityVersion: ${{ env.UNITY_VERSION }} #Github version
          testMode: all
          artifactsPath: test-results
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          
      #Uploads test results to GitHub
      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: unity-test-results
          path: test-results
          
      #Publish test summary to GitHub Actions UI
      - name: Report Test Results to GitHub Summary
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: test-results/**/*.xml
